[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/m4lc0m
[access "refs/for/refs/*"]
	read = group user/m4lc0m
	push = group user/m4lc0m
	label-Code-Review = -2..+2 group user/m4lc0m
	label-Verified = -1..+1 group user/m4lc0m
	rebase = group user/m4lc0m
	removeReviewer = group user/m4lc0m
	submit = group user/m4lc0m
[access "refs/heads/*"]
	read = group user/m4lc0m
	create = group user/m4lc0m
	push = +force group user/m4lc0m
	pushMerge = group user/m4lc0m
[access "refs/tags/*"]
	push = group user/m4lc0m
	push = +force group user/m4lc0m
